*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(155,168,253,255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_container{
    padding: 0;
    margin: 0;
    position: relative;
    top: 8vh;
    width: 85%;
    height: 65vh;
    background-color: rgba(229,233,255,1);
    border-top-left-radius: 4vh;
    border-top-right-radius: 4vh;
    display: flex;
    z-index: 0;
}

.bottom_container{
    position: relative;
    width: 85%;
    min-height: 20vh;
    background: radial-gradient(circle at 20%,#392f5b 5%,#191036 95%);
    border-bottom-left-radius: 4vh;
    border-bottom-right-radius: 4vh;
    z-index: 2;
    top: 3.5rem;
}

#nav{
    display: inline-block;
    position: absolute;
    min-width: 20%;
    height: 2rem;
    left: 25%;
    top: 7%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}

#nav a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: 550;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* color: rgb(255, 130, 0); */
    color: rgba(1,81,148,255);
}

#nav a:hover{
    cursor: pointer;
    transform: scale(1.04);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}